@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: auto;
  --green: rgb(79, 187, 133);
  --dark-gray: rgb(104, 109, 107);
  --light-gray: rgb(204, 207, 206);
}

.App {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.specific-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(50px, 100px, 200px);
}

form {
  display: grid;
  gap: 20px;
}

form>div {
  display: grid;
  gap: 5px;
}

input, textarea {
  font-family: inherit;
  outline: none;
  border: 1px solid var(--light-gray);
  padding: 7px 10px;
  color: var(--dark-gray);
  resize: vertical;
}

input:focus, textarea:focus {
  border: 1px solid var(--green);
}

.general-form label, .general-info div {
  color: var(--dark-gray);
  font-size: large;
}

.general-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main-info {
  display: grid;
  gap: 20px;
  padding-bottom: 20px;
}

h2 {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 2px;
}

.about-title, h2 {
  padding: 0;
  margin: 0;
}

label[for="about"] {
  font-size: large;
}

h3, label[for="about"] {
  color: var(--green);
}

img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 1px solid var(--green);
}

.add-button, .submit-button {
  font-family: inherit;
}

.add-button {
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: var(--light-gray);
  transition: all .2s ease-in-out;
}

.add-button:hover {
  transform: scale(1.1);
}

.submit-button {
  border: 1px solid var(--green);
  font-weight: bold;
  font-size: large;
  background: none;
  padding: 5px 10px;
  color: var(--green);
}

.submit-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--green);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
}

li, .main-experience {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 20px;
  justify-content: stretch;
}

li:hover {
  background-color: rgb(232, 240, 237);
}

.education-li, .experience-info {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 30px;
}

.li-title {
  font-weight: bold;
}

.experience-li {
  display: flex;
  flex-direction: column;
}

.li-tasks {
  color:var(--dark-gray);
}

span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.delete {
  font-weight: bold;
  text-align: right;
  color: var(--light-gray);
}

.delete:hover {
  cursor: pointer;
  color: var(--dark-gray);
}

.error-message {
  color: rgb(196, 27, 27);
  font-size: small;
}
